# Build outputs
[Bb]in/
[Oo]bj/
[Oo]ut/
[Oo]utput/
[Ll]og/
[Ll]ogs/

# Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Publish
[Pp]ublish/
PublishProfiles/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.pubxml.user
*.publishproj

# MSIX/AppX packaging output
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Misc
*.tmp
*.log
*.cache
*.swp
